@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(135deg, rgb(41, 49, 83), rgb(21, 23, 39));
    height: 80vh;
}

div.container {
    background-color: #000000a4;
    border-radius: 15px;
    width: 400px;
    height: 500px;

    margin: auto;
    margin-top: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    height: 450px;
    width: 360px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    box-sizing: border-box;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

fieldset legend {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

fieldset input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
    letter-spacing: 2px;
    font-size: 15px;
}

.inputItem {
    position: relative;
}

.inputItem label {
    position: absolute;
    top: -7px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
    font-size: 18px;
}


.inputPreco, .inputQuant {
    position: relative;
}

.inputPreco label, .inputQuant label {
    top: 0px;
    left: 0px;
    transition: .5s;
    position: absolute;
    font-size: 18px;
}

.inputPreco input, .inputQuant input {
    position: absolute;
    right: 130px;
    width: 100px;
}

.inputPreco > input:focus ~ .labelInputPreco,
.inputQuant > input:focus ~ .labelInputQuant,
.inputPreco > input:valid ~ .labelInputPreco,
.inputQuant > input:valid ~ .labelInputQuant {
    transition: .5s;
    color: dodgerblue;
}


input:focus ~ .labelInput, 
input:valid ~ .labelInput {
    transform: translateY(-12px);
    transition: .5s;
    font-size: .9em;
    color: dodgerblue;
}

.inputItem input {
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

div > button[type="submit"] {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}

div > button[type="submit"]:hover {
    transition: .3s;
    cursor: pointer;
    background-color: rgb(131, 186, 241);
}
